
{% extends "mainTemplate.twig" %}

{% block content %}
  <h1>Add Job</h1>
   
   {% if responseMessage != null %}
   <div class="alert alert-primary" role="alert">
           {{responseMessage}}
   </div>
  {% endif %}

       <form action="/Proyecto_php/jobs/add" method="POST">
           <label>Title: </label>
           <input type="text" name="txt_title"><br>
           <label>Description: </label>
           <input type="text" name="txt_description"><br>
           <button type="submit">Save</button>
       </form>  
{% endblock %}




