
<!DOCTYPE html>
<html>
<head>
	<title>Add Project</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <h1>Add Project</h1>
       <form action="/Proyecto_php/projects/add" method="POST">
       	   <label>Title: </label>
       	   <input type="text" name="txt_title"><br>
       	   <label>Description: </label>
       	   <input type="text" name="txt_description"><br>
           <input type="file" name="logoproject">
       	   <button type="submit">Save</button>
       </form>	

</body>
</html>