
{% extends "mainTemplate.twig" %}

{% block content %}
  <h1>Autenticarse</h1>

    {% if responseMessage != null %}
   <div class="alert alert-primary" role="alert">
           {{responseMessage}}
   </div>
  {% endif %}
   
       <form action="/Proyecto_php/auth" method="POST">

           <label>Email: </label>
           <input type="text" name="txt_email"><br>
           <label>Description: </label>
           <input type="password" name="txt_password"><br>
           <button type="submit">Ingresar</button>

       </form>  
{% endblock %}



